.alert-msg-box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  font-size: 16px;
  color: #e04c4c;
  position: relative;
}

.alert-msg-box-2 {
  width: 290px;
  height: 250px;
  margin: 50px auto;
  padding-top: 10px;
  position: relative;
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  color: #737373;
}
.alert-msg-box-2 .title-icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.alert-msg-box-2 .title-icon img {
  width: 100%;
}

.alert-msg-box-2 h3 {
  line-height: 28px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.alert-msg-box-2 .title-text.alert-error h3 {
  color: #e84d3d;
}
.alert-msg-box-2 .title-text.alert-success h3 {
  color: #4daf51;
}
.alert-msg-box-2 .title-text h3 {
  font-size: 18px;
  line-height: 44px;
  margin: 0;
  font-weight: normal;
}
.alert-msg-box-2 p {
  margin-top: 50px;
}
.add-contact-link {
  color: #ff73b3;
}