.table-wrap {
  width: 80%;
  margin: 0 auto;
}
.home-link {
  color: #fff;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  float: left;
}
.user-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.user-table tr td, .user-table tr th {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.user-table tr td {
  color: #777;
}

button.btn, a.btn {
  background: none;
  text-decoration: none;
  border: none;
  color: #09718e;
  cursor: pointer;
  outline: none;
}

button.btn:hover, a.btn:hover {
  color: #4994a8;
}

@media all and (max-width: 850px) {
  .table-wrap {
    width: 95%;
  }  
}

@media all and (max-width: 700px) {
  .table-wrap {
    width: 100%;
  } 
  table.user-table {
    font-size: 12px;
  } 
}

@media all and (max-width: 600px) {
  .home-link {
    float: none;
    display: inline-block;
  }
  .table-wrap .table-inner {
    overflow-x: scroll;
  }
  table.user-table {
    width: 600px;
  }
  .table-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .table-inner::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
  }

  .table-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
  }
}