.user-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.user-table tr td, .user-table tr th {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.user-table tr td {
  color: #777;
}

button.btn, a.btn {
  background: none;
  text-decoration: none;
  border: none;
  color: #09718e;
  cursor: pointer;
  outline: none;
}
button.btn:hover, a.btn:hover {
  color: #4994a8;
}
