.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
  margin-top: -5px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px 20px;
  color: white;
}

.App-title {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (max-width: 480px) {
  .App-header {
    padding: 10px;
  }
  .App-title {
    font-size: 13px;
  }
}